<p-table
    dataKey="cedula"
    selectionMode="single"
    [paginator]="true"
    [rowHover]="true"
    [showLoader]="false"
    [first]="(estudiantes.page - 1 ) * estudiantes.limit"
    [rows]="estudiantes.limit"
    [lazy]="true"
    [value]="estudiantes.data"
    [totalRecords]="estudiantes.total"
    [tableStyle]="{ 'min-width': '50rem' }"
    [loading]="loading"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} estudiantes"
    paginatorLocale="es-VE"
    paginatorStyleClass="justify-end"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onLazyLoad)="cargar_estudiantes($event)"
  >
    <ng-template #caption>
      <div class="flex">
        <div class="filter-content | flex gap-2 items-center">
          <i class="pi pi-filter w-6"></i>
          <p class="font-semibold" *ngIf="filtros_form.length && filtros_activos_form.length === 0">Filtrado de datos</p>
          <ul class="filters | flex gap-2 items-center">
            @for (filtro of filtros_activos_form.controls; track $index) {
              <!-- TODO: solo si se presiona spacebar o enter -->
              <li class="rounded-full px-2 py-1 bg-primary/10 border border-primary text-primary-500 text-sm select-none"
              [class]="{
                'bg-yellow-500/20': !comparar_objetos(filtro.value, filtros_activos[$index]),
                'border-yellow-500': !comparar_objetos(filtro.value, filtros_activos[$index]),
                'text-yellow-600': !comparar_objetos(filtro.value, filtros_activos[$index]),
                'animate-pulse': !comparar_objetos(filtro.value, filtros_activos[$index]),
              }"
              (click)="op.toggle($event)" role="button" tabindex="0"
              (keydown)="$event.preventDefault();op.toggle($event)"
              pTooltip="! Este filtro no se ha aplicado"
              [tooltipDisabled]="comparar_objetos(filtro.value, filtros_activos[$index])"
              >
                {{CAMPO_MAP[filtro.controls.campo.value]}} {{($any(CONDICION_MAP)[filtro.controls.condicion.value]).toLowerCase()}} <span class="font-semibold">
                  @if (OPCIONES_SEGUN_CAMPO[filtro.controls.campo.value]) {
                    {{findValueDeOpciones(filtro.controls.valor.value, OPCIONES_SEGUN_CAMPO[filtro.controls.campo.value])?.name}}
                  } @else if(TIPO_DE_CONDICION_SEGUN_CAMPO[filtro.controls.campo.value] === TIPO_DE_CONDICION.DATE) {
                    {{filtro.controls.valor.value | date}}
                  } @else {
                    {{filtro.controls.valor.value}}
                  }
                </span>
                <i class="pi pi-exclamation-triangle" *ngIf="!comparar_objetos(filtro.value, filtros_activos[$index])"></i>
                <button class="ml-2" (click)="remove_filtro_activo($index)">
                  <i class="pi pi-times text-xs"></i>
                </button>
                <p-popover #op>
                  <form (submit)="$event.preventDefault();aplicar_filtros_activos()">
                    <!-- TODO: se debe clonar el estado anterior para evitar que el filtro activo cambie en la ui si no se han aplicado los filtros -->
                    <div class="flex gap-1">
                      <!-- campo -->
                      <p-select [formControl]="filtro.controls.campo" [options]="CAMPOS" optionLabel="name" optionValue="value" size="small" placeholder="Campo"/>
                      <!-- condicion -->
                      <p-select [formControl]="filtro.controls.condicion" [options]="CONDICIONES_SEGUN_CAMPO[filtro.controls.campo.value]" size="small" optionLabel="name" optionValue="value" placeholder="Condición" />
                      <!-- valor -->
                      @if (OPCIONES_SEGUN_CAMPO[filtro.controls.campo.value]) {
                         <p-select [formControl]="filtro.controls.valor" [options]="OPCIONES_SEGUN_CAMPO[filtro.controls.campo.value]"   size="small" optionLabel="name" optionValue="value" placeholder="Valor" />
                      } @else if (TIPO_DE_CONDICION_SEGUN_CAMPO[filtro.controls.campo.value] === TIPO_DE_CONDICION.DATE) {
                       <p-datepicker size="small" placeholder="Fecha"  [formControl]="filtro.controls.valor" [showButtonBar]="true" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
                      } @else if (TIPO_DE_CONDICION_SEGUN_CAMPO[filtro.controls.campo.value] === TIPO_DE_CONDICION.NUMBER) {
                       <p-inputnumber [formControl]="filtro.controls.valor" size="small" placeholder="Valor" locale="es-VE" />
                      } @else {
                        <input type="text" [formControl]="filtro.controls.valor" pInputText placeholder="Valor" pSize="small"   />
                      }
                    </div>
                    <div class="flex gap-2 justify-end mt-5">
                      @if (comparar_objetos(filtro.value, filtros_activos[$index])) {
                        <p-button size="small" label="Cancelar" icon="pi pi-times" severity="secondary"  [rounded]="true" (click)="op.toggle($event)"/>
                      } @else {
                        <p-button size="small" label="Revertir" icon="pi pi-undo" severity="secondary"  [rounded]="true" (click)="revertir_filtro_activo($index)"/>
                      }
                      <p-button size="small" label="Aplicar" icon="pi pi-check" [loading]="loading" [rounded]="true" type="submit"/>
                    </div>
                    <p class="text-xs text-muted-color">Presione "Aplicar" para reflejar los cambios</p>
                  </form>
                </p-popover>
              </li>
              <span class="text-sm text-muted-color opacity-50 select-none" *ngIf="$index < filtros_activos_form.length - 1">Y</span>
            }
          </ul>
          <p-button  variant="outlined" label="Filtrar" icon="pi pi-plus" [rounded]="true" severity="secondary" (click)="add_filtro()" *ngIf="filtros_form.length === 0"/>
        </div>
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
          pInputText
          type="text"
          placeholder="Búsqueda [no implementado]"
          />
        </p-iconfield>
      </div>
      <form class="pl-8 grid gap-2 mt-2">
        <p class="font-semibold" *ngIf="filtros_form.length && filtros_activos_form.length > 0">Filtrado de datos</p>
        @for (filtro of filtros_form.controls; let i = $index; track $index) {
          <li class="flex gap-1 items-center">
            <!-- operador -->
            <span class="text-muted-color opacity-60 select-none w-5" *ngIf="$index > 0">Y</span>
            <!-- campo -->
            <p-select [formControl]="filtro.controls.campo" [options]="CAMPOS" optionLabel="name" optionValue="value" size="small" placeholder="Campo"/>
            <!-- condicion -->
            <p-select [formControl]="filtro.controls.condicion" [options]="CONDICIONES_SEGUN_CAMPO[filtro.controls.campo.value]" size="small" optionLabel="name" optionValue="value" placeholder="Condición" />
            <!-- valor -->
            @if (OPCIONES_SEGUN_CAMPO[filtro.controls.campo.value]) {
              <p-select [formControl]="filtro.controls.valor" [options]="OPCIONES_SEGUN_CAMPO[filtro.controls.campo.value]"   size="small" optionLabel="name" optionValue="value" placeholder="Valor" />
           } @else if (TIPO_DE_CONDICION_SEGUN_CAMPO[filtro.controls.campo.value] === TIPO_DE_CONDICION.DATE) {
            <p-datepicker size="small" placeholder="Fecha"  [formControl]="filtro.controls.valor" [showButtonBar]="true" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
           } @else if (TIPO_DE_CONDICION_SEGUN_CAMPO[filtro.controls.campo.value] === TIPO_DE_CONDICION.NUMBER) {
            <p-inputnumber [formControl]="filtro.controls.valor" size="small" placeholder="Valor" locale="es-VE" />
           } @else {
             <input type="text" [formControl]="filtro.controls.valor" pInputText placeholder="Valor" pSize="small"   />
           }
          <!-- aplicar -->
          <p-button icon="pi pi-check" pTooltip="Aplicar" [disabled]="filtro.invalid" [rounded]="true" [text]="true" severity="secondary" (click)="aplicar_filtro(i)" />
          <!-- remover -->
          <p-button icon="pi pi-trash" pTooltip="Remover" [rounded]="true" [text]="true" severity="secondary" (click)="remove_filtro(i)" />
        </li>
      }
      <p-button class="justify-self-start" variant="outlined" label="Añadir filtro" icon="pi pi-plus" [rounded]="true" severity="secondary" (click)="add_filtro()" *ngIf="filtros_form.length > 0"/>
      <div class="justify-self-end flex gap-2">
        <p-button label="Cancelar" icon="pi pi-times" severity="secondary"  [rounded]="true" (click)="remove_all_filtros()" *ngIf="filtros_form.length > 0"/>
        <p-button label="Aplicar filtros" icon="pi pi-check" [loading]="loading" [disabled]="filtros_form.invalid" [rounded]="true" (click)="aplicar_filtros_form()" *ngIf="filtros_form.length > 0"/>
      </div>
      </form>
      <p class="mt-5">Mostrando {{(estudiantes.page-1) * estudiantes.data.length + 1}}-{{estudiantes.page * estudiantes.limit}} de <span class="font-semibold">{{estudiantes.total}} Resultados</span></p>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Cedula</th>
        <th>Sexo</th>
        <th class="text-center">Edad</th>
        <th></th>
        <th>Estado</th>
        <th class="text-center">Fecha de Nacimiento</th>
        <th>Nivel Académico</th>
        <th class="text-center">Seccion</th>
        <th>Actualizado</th>
        <th class="text-end">Fecha de inscripcion</th>
        <th class="text-end"></th>
      </tr>
    </ng-template>
    <ng-template #loadingbody>
      @for (n of [].constructor(estudiantes.limit); track $index) {
      <tr>
        <td>
          <div class="flex gap-3">
            <p-skeleton shape="circle" size="3rem" />
            <p-skeleton width="10rem" />
          </div>
        </td>
        <td>
          <p-skeleton width="6rem" />
        </td>
        <td><p-skeleton width="6rem" height="1.5rem" borderRadius="16px" /></td>
        <td class="text-center">
          <p-skeleton width="2rem" styleClass="m-auto" />
        </td>
        <td></td>
        <td>
          <p-skeleton width="6rem" height="1.5rem" borderRadius="16px" />
        </td>
        <td>
          <p-skeleton width="5rem" styleClass="m-auto" />
        </td>
        <td><p-skeleton width="6rem" height="1.5rem" borderRadius="16px" /></td>
        <td><p-skeleton width="3rem" height="1.5rem" borderRadius="16px" /></td>
        <td>
          <p-skeleton width="5rem" styleClass="m-auto" />
        </td>
        <td>
          <p-skeleton width="5rem" styleClass="ml-auto" />
        </td>
        <td></td>
      </tr>

      }
    </ng-template>
    <ng-template #body let-estudiante let-i="rowIndex">
      <tr
        *ngIf="!loading"
        [pSelectableRow]="estudiante"
        (dblclick)="
          navigateOnDoubleClick(['admin', 'estudiantes', estudiante.cedula])
        "
      >
        <td>
          <a
            [routerLink]="['/admin/estudiantes', estudiante.cedula]"
            class="flex gap-3 hover:underline"
            [pTooltip]="estudiante.nombres + ' ' + estudiante.apellidos"
            tooltipPosition="top"
          >
            <p-avatar
              [label]="estudiante | nombre: 'iniciales'"
              styleClass="flex-none"
              size="large"
              shape="circle"
            />
            <p class="font-medium">
              {{ estudiante | nombre }}
            </p>
          </a>
        </td>
        <td class="font-medium text-nowrap">
          <a [routerLink]="['/admin/estudiantes', estudiante.cedula]" class="hover:underline">
            V-{{ estudiante.cedula | number }}
          </a>
        </td>
        <td><aw-tag-sexo [sexo]="estudiante.sexo" /></td>
        <td class="text-center font-medium">{{ estudiante.edad }}</td>
        <!-- TODO: colocar icono de discapasidad si posee -->
        <td></td>
        <td>
          <aw-tag-estado-academico [estado]="estudiante.estado_academico.id" />
        </td>
        <td class="text-center">
          {{ estudiante.fecha_de_nacimiento | date : 'dd/MM/yyyy' }}
        </td>
        <td>
          <aw-tag-nivel-academico [nivel]="estudiante.nivel_academico.numero" />
        </td>
        <td class="text-center">
          <aw-tag-seccion
            [seccion]="estudiante.seccion?.seccion"
            [solo_mostrar_letra]="true"
          />
        </td>
        <td>
          {{ estudiante.ultima_actualizacion | amLocale : 'es' | amTimeAgo }}
        </td>
        <td class="text-end">
          {{ estudiante.fecha_de_inscripcion | date : 'dd/MM/yyyy' }}
        </td>
        <td class="text-end">
          <div class="relative">
            <p-button
              icon="pi pi-ellipsis-h"
              severity="secondary"
              variant="text"
            />
            <p-menu #menu [popup]="true" />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="12" class="pointer-events-none">
          <div class="grid justify-center justify-items-center py-5 gap-2">
            <aw-illustration name="void" class="h-56" />
            <p class="font-medium">Sin Resultados</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>