<header class="flex justify-between items-center">
  <div>
    <div class="flex gap-2">
      <h3>{{ cantidad_de_estudiantes.numero }} Año</h3>
      <aw-tag-seccion [seccion]="seccion_academica.seccion" />
    </div>
    <p class="text-sm">
      {{ cantidad_de_estudiantes.nombre }} Seccion "{{
        seccion_academica.seccion
      }}"
    </p>
  </div>
  <div class="flex gap-3">
    <button pButton routerLink="registrar" pButton (click)="asm.toggle()">
      <i class="pi pi-user-plus"></i>
      <span>Asignar estudiantes</span>
    </button>
    <aw-modal-asignar-estudiantes [seccion]="{id: seccion_academica.id, seccion: seccion_academica.seccion, nivel_academico: seccion_academica.nivel_academico, profesor_guia: seccion_academica.profesor_guia?.cedula}" #asm/>
  </div>
</header>

<nav class="flex mt-5 gap-4">
  <ul>
    @if (seccion_academica.profesor_guia) {
    <li>
      <aw-fast-link
        [routerLink]="[
          '/admin/empleados',
          seccion_academica.profesor_guia!.cedula
        ]"
        [title]="seccion_academica.profesor_guia! | nombre"
        subtitle="Profesor(a) guía"
      >
        <ng-template #icon>
          <p-avatar
            shape="circle"
            size="large"
            styleClass="w-full h-full"
            [label]="seccion_academica.profesor_guia! | nombre : 'iniciales'"
          />
        </ng-template>
      </aw-fast-link>
    </li>
    }
  </ul>
</nav>

<nav class="flex mt-5 gap-4 overflow-auto">
  <aw-info-card
    label="Total de estudiantes"
    icon="pi pi-users"
    [value]="cantidad_de_estudiantes.total"
  ></aw-info-card>

  <aw-info-card
    label="Estudiantes Activos"
    icon="pi pi-check-circle text-green-500"
    [value]="cantidad_de_estudiantes.activos"
    className="bg-green-100 dark:bg-green-600"
    iconContentClassName="bg-green-200"
  ></aw-info-card>

  <aw-info-card
    label="Estudiantes No inscritos"
    icon="pi pi-exclamation-circle text-yellow-600"
    [value]="cantidad_de_estudiantes.no_inscritos"
    className="bg-yellow-100 dark:bg-yellow-600"
    iconContentClassName="bg-yellow-200"
  ></aw-info-card>
</nav>

<section class="mt-4">
  <h5>Materias ({{ pensum.areas_de_formacion.length }})</h5>
  <ul class="mt-3 flex flex-wrap gap-1">
    @for (area_de_formacion of pensum.areas_de_formacion; track $index) {
    <li>
      <p-tag
        icon="pi pi-book"
        [value]="area_de_formacion.nombre"
        [rounded]="true"
        styleClass="bg-slate-100 text-current dark:bg-surface-800"
      />
    </li>
    }
  </ul>
</section>

<section class="card | mt-5">
  <h6>Estudiantes</h6>
  <aw-tabla-de-estudiantes [omitir_campos_filtros]="['nivel_academico', 'seccion']" [filtros_estaticos]="[{campo: 'seccion', condicion: StringCondicion.IGUAL, valor: seccion_academica.id}]" />
</section>
