<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '450px' }"
  [draggable]="false"
  [resizable]="false"
  header="Eliminar empleado"
  [closeOnEscape]="true"
>
  <ng-template pTemplate="header">
    <header>
      <div class="flex items-center gap-2">
        <i
          class="pi pi-exclamation-triangle text-red-500"
          style="font-size: 1.25rem"
        ></i>
        <h5>Eliminar  empleado</h5>
      </div>
      <p class="mt-1 text-muted-color">
        ¿Estás seguro que deseas eliminar a
        <span class="font-medium">{{empleado | nombre}}</span
        >?
      </p>
    </header>
  </ng-template>

  <div class="p-3 border-1 border-red-200 dark:border-red-500 bg-red-500/10 rounded-lg border">
    <p class="text-red-500 font-medium m-0 mb-2">Advertencia:</p>
    <p class="mb-2">
      Al eliminar este registro, también se eliminarán permanentemente:
    </p>
    <ul class="mb-3 pl-4 list-disc">
      <li>Registros de actividades asociadas</li>
      <li>Cualquier otro dato relacionado con {{empleado.sexo === 'M'? 'el empleado' : 'la empleada' }}</li>
    </ul>
    <p class="font-medium m-0">Esta acción no se puede deshacer.</p>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button
        label="Eliminar empleado"
        icon="pi pi-trash"
        styleClass="p-button-danger"
        [loading]="loading"
        (click)="eliminar()"
      >
      </p-button>
      <p-button
        label="Cancelar"
        severity="secondary"
        (click)="close()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
