<form [formGroup]="datos_antropometricos">
     <h5>Datos antropométricos</h5>
    <p class="text-sm">Información antropométrica del estudiante</p>
    <div class="grid mt-8 gap-4">
      <section class="form_group">
        <div class="form_input">
          <label for="peso">Peso</label>
          <p-inputnumber
            [max]="999"
            locale="es-VE"
            suffix=" kg"
            inputId="peso"
            formControlName="peso"
            placeholder="75 kg"
          />
        </div>
        <div class="form_input">
          <label for="estatura">Estatura</label>
          <p-inputnumber
            [max]="999"
            locale="es-VE"
            suffix=" cm"
            inputId="estatura"
            formControlName="estatura"
            placeholder="175 cm"
          />
        </div>
      </section>
      <section class="form_group">
        <div class="form_input">
          <label for="chemise">Chemise</label>
          <p-inputnumber
            [max]="999"
            locale="es-VE"
            inputId="chemise"
            formControlName="chemise"
            placeholder="12"
          />
        </div>
        <div class="form_input">
          <label for="pantalon">Pantalón</label>
          <p-inputnumber
            [max]="999"
            locale="es-VE"
            inputId="pantalon"
            formControlName="pantalon"
            placeholder="30"
          />
        </div>
      </section>
    </div>
</form>