<h3>{{ modo === 'registrar' ? 'Registrar' : 'Actualizar' }} estudiante</h3>
<p class="text-sm">{{INSTITUTION_NAME}}</p>

<section class="flex gap-5 mt-5">
  <section class="w-60">
    <ul class="stepper | sticky top-8">
      <li>
        <button
          class="stepper__step"
          [attr.data-completed]="datos_personales_component().form.valid"
          (click)="paso_actual = 1"
          [attr.data-active]="paso_actual === 1"
        >
          <div class="stepper__step__number">
            @if (datos_personales_component().form.valid) { <i class="pi pi-check"></i> } @else {
            1 }
          </div>
          <div>
            <p class="stepper__step__title">Datos personales</p>
            <p
              class="stepper__step__description"
              [class]="{
                'text-green-500': datos_personales_component().form.valid
              }"
            >
              {{
                datos_personales_component().form.valid
                  ? 'Compledado'
                  : 'Nombres, Apellidos, CI, etc.'
              }}
            </p>
          </div>
        </button>
      </li>
      <span class="stepper__separator"></span>
      <li>
        <button
          class="stepper__step"
          [attr.data-completed]="datos_de_contacto_component().form.valid"
          (click)="paso_actual = 2"
          [attr.data-active]="paso_actual === 2"
        >
          <div class="stepper__step__number">
            @if (datos_de_contacto_component().form.valid) { <i class="pi pi-check"></i> } @else
            { 2 }
          </div>
          <div>
            <p class="stepper__step__title">Datos de contacto</p>
            <p
              class="stepper__step__description"
              [class]="{ 'text-green-500': datos_de_contacto_component().form.valid }"
            >
              {{
                datos_de_contacto_component().form.valid
                  ? 'Compledado'
                  : 'Correo, teléfono, etc.'
              }}
            </p>
          </div>
        </button>
      </li>
      <span class="stepper__separator"></span>
      <li>
        <button
          class="stepper__step"
          [attr.data-completed]="datos_academicos_component().form.valid"
          (click)="paso_actual = 3"
          [attr.data-active]="paso_actual === 3"
        >
          <div class="stepper__step__number">
            @if (datos_academicos_component().form.valid) { <i class="pi pi-check"></i> } @else {
            3 }
          </div>
          <div>
            <p class="stepper__step__title">Datos académicos</p>
            <p
              class="stepper__step__description"
              [class]="{ 'text-green-500': datos_academicos_component().form.valid }"
            >
              {{
                datos_academicos_component().form.valid ? 'Compledado' : 'Estado, nivel, etc.'
              }}
            </p>
          </div>
        </button>
      </li>
      <span class="stepper__separator"></span>
      <li>
        <button
          class="stepper__step"
          [attr.data-completed]="datos_de_salud_component().form.valid"
          (click)="paso_actual = 4"
          [attr.data-active]="paso_actual === 4"
        >
          <div class="stepper__step__number">
            @if (datos_de_salud_component().form.valid) { <i class="pi pi-check"></i> } @else { 4
            }
          </div>
          <div>
            <p class="stepper__step__title">Datos de salud</p>
            <p
              class="stepper__step__description"
              [class]="{ 'text-green-500': datos_de_salud_component().form.valid }"
            >
              {{
                datos_de_salud_component().form.valid
                  ? 'Compledado'
                  : 'Tipo de sangre, discapacidad, etc.'
              }}
            </p>
          </div>
        </button>
      </li>
      <span class="stepper__separator"></span>
      <li>
        <button
          class="stepper__step"
          [attr.data-completed]="datos_antropometricos_component().form.valid"
          (click)="paso_actual = 5"
          [attr.data-active]="paso_actual === 5"
        >
          <div class="stepper__step__number">
            @if (datos_antropometricos_component().form.valid) { <i class="pi pi-check"></i> }
            @else { 5 }
          </div>
          <div>
            <p class="stepper__step__title">Datos antropométricos</p>
            <p
              class="stepper__step__description"
              [class]="{ 'text-green-500': datos_antropometricos_component().form.valid }"
            >
              {{
                datos_antropometricos_component().form.valid
                  ? 'Compledado'
                  : 'Peso, estatura, etc.'
              }}
            </p>
          </div>
        </button>
      </li>
    </ul>
  </section>

  <section class="flex-1">
    <aw-form-datos-personales [class]="{hidden: paso_actual !== 1}"/>
    <aw-form-datos-de-contacto [class]="{hidden: paso_actual !== 2}"/>
    <aw-form-datos-academicos [class]="{hidden: paso_actual !== 3}"/>
    <aw-form-datos-de-salud [class]="{hidden: paso_actual !== 4}"/>
    <aw-form-datos-antropometricos [class]="{hidden: paso_actual !== 5}"/>
    <div class="flex gap-4 mt-8 justify-end">
      <p-button
        *ngIf="paso_actual > 1"
        icon="pi pi-angle-left"
        label="Anterior"
        severity="secondary"
        (click)="paso_actual = paso_actual - 1"
      />
      @if (paso_actual === 5) {
      <p-button
        icon="pi pi-check"
        iconPos="right"
        [label]="modo === 'registrar' ? 'Registrar' : 'Actualizar'"
        [disabled]="!puede_enviar_formulario"
        [loading]="loadings.enviando_datos"
        (click)="enviar_datos()"
      />
      } @else {
      <p-button
        icon="pi pi-angle-right"
        iconPos="right"
        label="Siguiente"
        (click)="paso_actual = paso_actual + 1"
        [disabled]="formulario_actual?.invalid"
      />

      }
    </div>
  </section>
</section>
