<header class="xlayout | flex justify-between items-center flex-wrap gap-5">
  <div>
    <h3>Espacios académicos</h3>
    <p class="text-sm">{{INSTITUTION_NAME}}</p>
  </div>
  <div class="flex gap-3 items-start">
    <p-button label="Imprimir" icon="pi pi-print" variant="outlined" />
    <p-button
      label="Registrar Espacio"
      icon="pi pi-plus"
      (click)="mostrar_modal_de_registro()"
    />
  </div>
</header>

<div class="flex gap-4 mt-5 overflow-auto">
  <aw-info-card
    label="Espacios totales"
    [value]="cantidad_de_espacios_academicos.total"
    icon="pi pi-sitemap"
  />
  <aw-info-card
    label="Salones de clase"
    className="bg-blue-100 dark:bg-blue-700"
    iconContentClassName="bg-blue-200 dark:bg-blue-800"
    [value]="
      obtener_cantidad_segun_tipo_de_espacio(
        TIPO_DE_ESPACIO_ACADEMICO.SALON_DE_CLASES
      ).total
    "
    icon="pi pi-check-circle"
  />
  <aw-info-card
    label="Laboratorios"
    className="bg-cyan-100 dark:bg-cyan-700"
    iconContentClassName="bg-cyan-200 dark:bg-cyan-800"
    [value]="
      obtener_cantidad_segun_tipo_de_espacio(
        TIPO_DE_ESPACIO_ACADEMICO.LABORATORIO
      ).total
    "
    icon="pi pi-cog"
  />
  <aw-info-card
    label="Bibliotecas"
    className="bg-pink-100 dark:bg-pink-700"
    iconContentClassName="bg-pink-200 dark:bg-pink-800"
    [value]="
      obtener_cantidad_segun_tipo_de_espacio(
        TIPO_DE_ESPACIO_ACADEMICO.BIBLIOTECA
      ).total
    "
    icon="pi pi-book"
  />
  <aw-info-card
    label="Auditorios"
    className="bg-indigo-100 dark:bg-indigo-700"
    iconContentClassName="bg-indigo-200 dark:bg-indigo-800"
    [value]="
      obtener_cantidad_segun_tipo_de_espacio(
        TIPO_DE_ESPACIO_ACADEMICO.AUDITORIO
      ).total
    "
    icon="pi pi-box"
  />
  <aw-info-card
    label="Espacios al aire libre"
    className="bg-green-100 dark:bg-green-700"
    iconContentClassName="bg-green-200 dark:bg-green-800"
    [value]="
      obtener_cantidad_segun_tipo_de_espacio(
        TIPO_DE_ESPACIO_ACADEMICO.AIRE_LIBRE
      ).total
    "
    icon="pi pi-cloud"
  />
</div>

<section class="flex gap-3 mt-5 items-end flex-wrap-reverse">
  <section class="card | flex-1">
    <p-table
      selectionMode="single"
      dataKey="id"
      [paginator]="true"
      [rowHover]="true"
      [showLoader]="false"
      [rows]="espacios_academicos.limit"
      [lazy]="true"
      [value]="espacios_academicos.data"
      [totalRecords]="espacios_academicos.total"
      [tableStyle]="{ 'min-width': '50rem' }"
      [loading]="loadings.busqueda"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} espacios académicos"
      paginatorLocale="es-VE"
      paginatorStyleClass="justify-end"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <!-- (onLazyLoad)="cargar_estudiantes($event)" -->
      <ng-template #caption>
        <div class="flex">
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              [formControl]="busqueda_input"
              placeholder="Búsqueda"
            />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Recursos</th>
          <th class="text-center">Capacidad</th>
          <th class="text-end"></th>
        </tr>
      </ng-template>
      <ng-template #loadingbody>
        @for (n of [].constructor(espacios_academicos.limit); track $index) {
        <tr>
          <td></td>
        </tr>

        }
      </ng-template>
      <ng-template #body let-espacio_academico let-i="rowIndex">
        <tr
          *ngIf="!loadings.busqueda"
          [pSelectableRow]="espacio_academico"
          (dblclick)="
            navigateOnDoubleClick([
              'admin',
              'espacios_academicos',
              espacio_academico.metadata.slug
            ])
          "
          class="select-none"
        >
          <td>
            <a class="link" [routerLink]="espacio_academico.metadata.slug">
              #{{ espacio_academico.id }}
            </a>
          </td>
          <td><a [routerLink]="[espacio_academico.metadata.slug]" class="hover:underline">{{ espacio_academico.nombre }}</a></td>
          <td>
            <aw-tag-tipo-de-espacio-academico
              [tipo]="espacio_academico.tipo.id"
            />
          </td>
          <td>
            <div class="flex gap-1">
              <i
                *ngIf="espacio_academico.electricidad"
                class="pi pi-bolt | p-1 text-[1.2rem]"
                pTooltip="Electricidad"
                tooltipPosition="top"
              ></i>
              <i
                *ngIf="espacio_academico.ventilacion"
                class="pi pi-spinner | p-1 text-[1.2rem]"
                pTooltip="Ventilacion"
                tooltipPosition="top"
              ></i>
              <i
                *ngIf="espacio_academico.internet"
                class="pi pi-wifi | p-1 text-[1.2rem]"
                pTooltip="Internet"
                tooltipPosition="top"
              ></i>
              @for (recurso of obtener_recursos_del_espacio(espacio_academico);
              track $index) {
              <i
                [class]="
                  $any(recurso_primeicon_map)[recurso.id] +
                  ' | p-1 text-[1.2rem]'
                "
                [pTooltip]="recurso.nombre"
                tooltipPosition="top"
              ></i>
              }
            </div>
          </td>
          <td class="text-center">{{ espacio_academico.capacidad }}</td>
          <td>
            <!-- TODO: los comandos no se activan en el primer click -->
             <div class="relative">
               <p-button
               icon="pi pi-ellipsis-h"
               severity="secondary"
               variant="text"
               (click)="espacio_academico.aux.show_acctions = !espacio_academico.aux.show_acctions"
               />
            <p-overlay [(visible)]="espacio_academico.aux.show_acctions" contentStyleClass="absolute right-0" appendTo="body">
              <div class="p-menu">
                <ul class="p-menu-list">
                  <li class="p-menu-item">
                    <div class="p-menu-item-content">
                      <a
                      [routerLink]="[
                        '/admin',
                        'espacios_academicos',
                        espacio_academico.metadata.slug,
                      ]"
                      class="p-menu-item-link"
                      >
                      <i class="pi pi-eye"></i>
                      <span>Ver</span>
                    </a>
                  </div>
                  </li>
                  <li class="p-menu-item">
                    <div class="p-menu-item-content">
                      <button
                      (click)="upsert_espacio_academico_modal().edit({
                        id: espacio_academico.id,
                        nombre: espacio_academico.nombre,
                        tipo: espacio_academico.tipo,
                        electricidad: espacio_academico.electricidad,
                        internet: espacio_academico.internet,
                        ventilacion: espacio_academico.ventilacion,
                        capacidad: espacio_academico.capacidad,
                      })"
                      class="p-menu-item-link | w-full"
                      >
                      <i class="pi pi-pencil"></i>
                      <span>Editar</span>
                    </button>
                  </div>
                  </li>
                  <li class="p-menu-item">
                    <div class="p-menu-item-content">
                      <button
                      (click)="eliminar_espacio_academico_modal().open({
                        id: espacio_academico.id,
                        nombre: espacio_academico.nombre,
                        tipo: espacio_academico.tipo,
                        electricidad: espacio_academico.electricidad,
                        internet: espacio_academico.internet,
                        ventilacion: espacio_academico.ventilacion,
                        capacidad: espacio_academico.capacidad,
                      })"
                      class="p-menu-item-link | w-full"
                      >
                      <i class="pi pi-trash"></i>
                      <span>Eliminar</span>
                    </button>
                  </div>
                  </li>
                </ul>
              </div>
            </p-overlay>
          </div> 
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="10" class="pointer-events-none">
            <div class="grid justify-center justify-items-center py-5 gap-2">
              <aw-illustration name="no-data" class="h-56" />
              <p class="font-medium">Sin Resultados</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
  <section class="card">
    <header class="flex justify-between items-start gap-5">
      <div>
        <h5>Salones de clase</h5>
        <p class="text-sm">Acceso rápido</p>
      </div>
      <div
        class="bg-blue-200 text-blue-500 dark:bg-blue-700 dark:text-current size-10 rounded-full grid place-items-center"
      >
        <i class="pi pi-check-circle text-[1.3rem]"></i>
      </div>
    </header>
    <section class="flex gap-2 mt-5">
      <aw-info-card
        routerLink="/admin/niveles_academicos/1"
        className="text-white bg-blue-600 dark:bg-blue-700 | group transition-colors hover:bg-blue-700 dark:hover:bg-blue-800 | gap-8 min-w-36"
        iconContentClassName="bg-blue-700 dark:bg-blue-800 | transition-colors bg-blue-800 dark:group-hover:bg-blue-900 | ml-auto"
        label="1er Año"
        variant="vertical"
      />
      <aw-info-card
        routerLink="/admin/niveles_academicos/2"
        className="text-white bg-teal-600 dark:bg-teal-700 | group transition-colors hover:bg-teal-700 dark:hover:bg-teal-800 | gap-8 min-w-36"
        iconContentClassName="bg-teal-700 dark:bg-teal-800 | transition-colors bg-teal-800 dark:group-hover:bg-teal-900 | ml-auto"
        label="2do Año"
        variant="vertical"
      />
      <aw-info-card
        routerLink="/admin/niveles_academicos/3"
        className="text-white bg-cyan-600 dark:bg-cyan-700 | group transition-colors hover:bg-cyan-700 dark:hover:bg-cyan-800 | gap-8 min-w-36"
        iconContentClassName="bg-cyan-700 dark:bg-cyan-800 | transition-colors bg-cyan-800 dark:group-hover:bg-cyan-900 | ml-auto"
        label="3er Año"
        variant="vertical"
      />
      <aw-info-card
        routerLink="/admin/niveles_academicos/4"
        className="text-white bg-pink-600 dark:bg-pink-700 | group transition-colors hover:bg-pink-700 dark:hover:bg-pink-800 | gap-8 min-w-36"
        iconContentClassName="bg-pink-700 dark:bg-pink-800 | transition-colors bg-pink-800 dark:group-hover:bg-pink-900 | ml-auto"
        label="4to Año"
        variant="vertical"
      />
      <aw-info-card
        routerLink="/admin/niveles_academicos/5"
        className="text-white bg-indigo-600 dark:bg-indigo-700 | group transition-colors hover:bg-indigo-700 dark:hover:bg-indigo-800 | gap-8 min-w-36"
        iconContentClassName="bg-indigo-700 dark:bg-indigo-800 | transition-colors bg-indigo-800 dark:group-hover:bg-indigo-900 | ml-auto"
        label="5to Año"
        variant="vertical"
      />
    </section>
  </section>
</section>
<aw-modal-eliminar-espacio-acaedemico (succes)="on_eliminar_espacio_academico_success()"
></aw-modal-eliminar-espacio-acaedemico>

<aw-modal-upsert-espacio-academico (success)="on_upsert_espacio_academico_success($event)"/>