<header class="xlayout | flex justify-between items-center flex-wrap gap-5">
  <div>
    <h3>Estudiantes</h3>
    <p class="text-sm">{{INSTITUTION_NAME}}</p>
  </div>
  <div class="flex gap-3">
    <div>
      <p-menu #menu [model]="imprimir_menu" popup></p-menu>
        <p-button  (click)="menu.toggle($event)" label="Imprimir" icon="pi pi-print" variant="outlined" />
    </div>
    <a routerLink="registrar" pButton>
      <i class="pi pi-user-plus"></i>
      <span>Registrar estudiante</span>
    </a>
  </div>
</header>

<nav class="xlayout | flex gap-3 mt-5 overflow-x-auto">
  <aw-fast-link
    title="1er Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-blue-600"
    iconContentClassName="bg-blue-100"
    [routerLink]="['/admin/niveles_academicos', 1]"
  ></aw-fast-link>
  <aw-fast-link
    title="2do Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-teal-600"
    iconContentClassName="bg-teal-100"
    [routerLink]="['/admin/niveles_academicos', 2]"
  ></aw-fast-link>
  <aw-fast-link
    title="3er Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-cyan-600"
    iconContentClassName="bg-cyan-100"
    [routerLink]="['/admin/niveles_academicos', 3]"
  ></aw-fast-link>
  <aw-fast-link
    title="4to Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-pink-600"
    iconContentClassName="bg-pink-100"
    [routerLink]="['/admin/niveles_academicos', 4]"
  ></aw-fast-link>
  <aw-fast-link
    title="5to Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-indigo-600"
    iconContentClassName="bg-indigo-100"
    [routerLink]="['/admin/niveles_academicos', 5]"
  ></aw-fast-link>
</nav>

<nav class="xlayout | flex mt-5 gap-4 overflow-auto">
  <aw-info-card
    label="Total de estudiantes"
    icon="pi pi-users"
    [value]="cantidad_de_estudiantes.total"
  ></aw-info-card>

  <aw-info-card
    label="Estudiantes Activos"
    icon="pi pi-check-circle text-green-500"
    [value]="cantidad_de_estudiantes.activos"
    className="bg-green-100 dark:bg-green-600"
    iconContentClassName="bg-green-200"
  ></aw-info-card>

  <aw-info-card
    label="Estudiantes No inscritos"
    icon="pi pi-exclamation-circle text-yellow-600"
    [value]="cantidad_de_estudiantes.no_inscritos"
    className="bg-yellow-100 dark:bg-yellow-600"
    iconContentClassName="bg-yellow-200"
  ></aw-info-card>

  <aw-info-card
    label="Estudiantes Retirados"
    icon="pi pi-external-link text-gray-600"
    [value]="cantidad_de_estudiantes.retirados"
    className="bg-gray-100 dark:bg-gray-600"
    iconContentClassName="bg-gray-200"
  ></aw-info-card>

  <aw-info-card
    label="Estudiantes Egresados"
    icon="pi pi-heart-fill text-indigo-600"
    [value]="cantidad_de_estudiantes.egresados"
    className="bg-indigo-100 dark:bg-indigo-600"
    iconContentClassName="bg-indigo-200"
  ></aw-info-card>
</nav>

<section class="card | mt-5">
  <h6>Estudiantes</h6>
  <aw-tabla-de-estudiantes/>
</section>
<aw-modal-generar-listados/>