@use 'primeicons/primeicons.css';
@use 'node_modules/@tabler/icons-webfont/dist/tabler-icons.scss';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-surface-800;
  }
}

/* .................................. icons ................................. */
.ti {
  @apply text-lg;
}

/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
}

h3 {
  @apply text-3xl font-semibold;
}
h4 {
  @apply text-2xl font-semibold;
}
h5 {
  @apply text-xl font-semibold;
}
h6 {
  @apply text-lg font-semibold;
}

/* ................................. navbar ................................. */
.bar {
  @apply bg-surface-50 dark:bg-surface-800 border-b;
}

/* .................................. link .................................. */      

a.link {
  @apply hover:underline text-primary-500 hover:text-primary-600;
}

/* .................................. card .................................. */      

.card {

  @apply border-t border-b border-surface-200 dark:border-surface-700;
  @apply py-6 px-2;
  @apply bg-white dark:bg-surface-900;
  
  @screen sm {
    @apply border rounded-2xl px-4;
  }
}

.card-bg {
  @apply bg-white dark:bg-surface-900;
  
}

/* ................................. stepper ................................ */      

.stepper {
  @apply grid gap-1;
  &__separator {
    width: 1px;
    @apply h-12 block border ml-4;
  }

  &__step {
    @apply flex gap-4;

    &[data-active='true'] {
      .stepper__step__number {
        @apply bg-primary text-white;
      }
      .stepper__step__title {
        @apply text-primary font-bold;
      }
    }

    &[data-completed='true'] {
      .stepper__step__description {
        @apply text-green-500;
      }

      &[data-active='true'] {
        .stepper__step__title {
          @apply text-green-500;
        }
        .stepper__step__number {
          @apply bg-green-500;
        }
      }

      &:not([data-active='true']) {
        .stepper__step__number {
          @apply bg-green-100;
          @apply text-green-500;
        }
      }
    }

    &:hover:not([data-active='true']) {
      .stepper__step__number {
        @apply bg-primary-100 dark:bg-primary-600;
      }
      .stepper__step__title {
        @apply text-primary;
      }
    }
  }

  &__step__number {
    @apply transition-all flex-none;
    @apply bg-surface-100 dark:bg-surface-800 size-10 rounded-full;
    @apply flex justify-center items-center font-semibold;
  }

  &__step__title {
    @apply transition-all;
    @apply font-medium text-start;
  }
  &__step__description {
    @apply text-sm text-start line-clamp-1;
  }
}

/* .................................. forms ................................. */      

.form_group {
  @apply grid gap-4 items-start;
  grid-template-columns: repeat(auto-fit, 255px);
}

.form_input {
  @apply grid gap-1;
}

.form_input > label {
  @apply font-medium;
}
.form_input[data-required] > label::after {
  content: ' *';
  @apply text-red-500;
}

/* ............................... selectable ............................... */

.selectable {
    @apply flex py-4 px-3 rounded-xl border-2 items-center justify-start text-start gap-5 transition-colors;
    @apply hover:border-primary/50 hover:bg-primary/20;

    &__icon {
        @apply size-11 bg-surface-100 dark:bg-surface-800 rounded-full flex-none grid place-items-center;
    }

    &__title {
        @apply font-semibold;
    }
    &__subtitle {
        @apply text-sm text-balance;
    }
}

.selectable-box{
    @apply transition-all;
    @apply border-2 py-4 px-3 rounded-xl;
    @apply cursor-pointer hover:border-primary/50 hover:bg-primary/20;

    &[data-selected="true"] {
        @apply border-primary/50 bg-primary/30;
    }
    
}

.bordered {
    @apply border-2 py-4 px-3 rounded-xl;
}
