<header>
  <h3>Niveles Académicos</h3>
  <p class="text-sm">Desde 1er año hasta 5to Año</p>
</header>

<nav class="flex gap-3 mt-5 overflow-x-auto">
  <aw-fast-link
    title="1er Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-blue-600"
    iconContentClassName="bg-blue-100"
    routerLink="1"
  ></aw-fast-link>
  <aw-fast-link
    title="2do Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-teal-600"
    iconContentClassName="bg-teal-100"
    routerLink="2"
  ></aw-fast-link>
  <aw-fast-link
    title="3er Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-cyan-600"
    iconContentClassName="bg-cyan-100"
    routerLink="3"
  ></aw-fast-link>
  <aw-fast-link
    title="4to Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-pink-600"
    iconContentClassName="bg-pink-100"
    routerLink="4"
  ></aw-fast-link>
  <aw-fast-link
    title="5to Año"
    subtitle="Nivel académico"
    icon="pi pi-circle-fill text-[1.6em] text-indigo-600"
    iconContentClassName="bg-indigo-100"
    routerLink="5"
  ></aw-fast-link>
</nav>

<section class="grid gap-5 mt-5">
  @for (pensum of pensum; track $index) {

    <aw-editable-nivel-academico [nivel_academico]="obtener_nivel_academico_prop(pensum)"/>
  
  }
</section>
