<p-toast />
<div class="flex min-h-screen">
  <div class="flex-2 hidden h-auto relative lg:flex">
    <img
      src="/img/lnmjs.webp"
      alt="Liceo Nacional Miguel José Sanz"
      class="h-auto w-[32rem] object-cover"
    />
    <div
      class="absolute bottom-4 left-4 bg-white bg-opacity-75 p-2 rounded text-sm text-gray-700"
    >
      <p>
        Imagen tomada de
        <a
          href="https://www.instagram.com/corpoturismo"
          target="_blank"
          class="text-blue-500 font-semibold hover:underline"
        >
          &#64;corpoturismo</a
        >
        a través de Instagram
      </p>
    </div>
  </div>

  <main class="flex-3 p-8 flex flex-col">
    <header class="flex-none">
      <img
        src="/img/mppe.png"
        alt="Logo del Ministerio de educación de la República Bolivariana de Venezuela"
        class="h-16 w-auto"
      />
    </header>

    <section class="grid place-items-center flex-1">
      <p-card
        [style]="{ 'max-width': '30rem' }"
        class="p-5 pt-10 w-full max-w-md shadow-lg"
      >
        <ng-template pTemplate="header">
          <svg
            class="m-auto w-11 h-full fill-primary dark:fill-primary-600 hidden md:block"
            width="36"
            height="40"
            viewBox="0 0 36 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 15V31H5C5.52527 31 6.04541 31.1035 6.53076 31.3045C7.01599 31.5055 7.45703 31.8001 7.82837 32.1716C8.19983 32.543 8.49451 32.984 8.69556 33.4693C8.89648 33.9546 9 34.4747 9 35V40H21L36 25V9H31C30.4747 9 29.9546 8.89655 29.4692 8.69553C28.984 8.49451 28.543 8.19986 28.1716 7.82843C27.8002 7.457 27.5055 7.01602 27.3044 6.53073C27.1035 6.04544 27 5.5253 27 5V0H15L0 15ZM17 30H10V19L19 10H26V21L17 30Z"
              fill="#0004E8-"
            ></path>
          </svg>
          <div class="space-y-1 p-4 text-center">
            <h2 class="text-2xl font-bold">Iniciar sesión</h2>
            <p class="text-gray-500">
              Ingresa tus credenciales para acceder a tu cuenta
            </p>
          </div>
        </ng-template>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="space-y-4"
          action="/api/login"
          method="post"
        >
          <div class="form_input">
            <label for="usuario" class="block text-sm font-medium"
              >Usuario</label
            >
            <input
              pInputText
              id="usuario"
              formControlName="usuario"
              placeholder="Ingresa tu nombre de usuario"
              class="w-full"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  loginForm.get('usuario')?.invalid &&
                  loginForm.get('usuario')?.touched,
              }"
            />
            <small
              *ngIf="
                loginForm.get('usuario')?.invalid &&
                loginForm.get('usuario')?.touched
              "
              class="text-red-500"
            >
              Usuario es requerido
            </small>
          </div>

          <div class="form_input">
            <div class="flex items-center justify-between">
              <label for="clave" class="block text-sm font-medium"
                >Contraseña</label
              >
              <a
                href="/recuperar_clave"
                class="text-xs text-primary-500 hover:underline"
                >¿Olvidaste tu contraseña?</a
              >
            </div>
            <p-password
              id="password"
              formControlName="clave"
              [toggleMask]="true"
              placeholder="Ingresa tu contraseña"
              styleClass="w-full"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  loginForm.get('clave')?.invalid &&
                  loginForm.get('clave')?.touched,
              }"
              inputStyleClass="w-full"
              [feedback]="false"
            ></p-password>
            <small
              *ngIf="
                loginForm.get('clave')?.invalid &&
                loginForm.get('clave')?.touched
              "
              class="text-red-500"
            >
              Contraseña es requerida
            </small>
          </div>

          <p-button
            type="submit"
            label="Iniciar sesión"
            [loading]="loading"
            styleClass="w-full mt-5"
          ></p-button>
        </form>
        <ng-template pTemplate="footer">
          <div class="flex justify-center p-4">
            <p class="text-sm text-gray-500">
              ¿No tienes una cuenta?
              <a href="#" class="text-primary-500 hover:underline ml-1"
                >Contacta a la institución</a
              >
            </p>
          </div>
        </ng-template>
      </p-card>
    </section>
  </main>
</div>
