<p-toast />
<aw-navbar/>
<section class="layout">
  <nav 
    class="nav | bar min-w-0 justify-center"
    [class]="{
    'min-w-80': sidebar_open,
    'justify-start': sidebar_open,
    }"
  >
    <ul class="nav__links">
      <li>
        <a 
          routerLink="/admin/dashboard"
          [attr.data-active]="current_url.startsWith('/admin/dashboard')"
          class="nav__link | size-11  | font-bold"
          [class]="{
            'w-full': sidebar_open,
            'p-5': sidebar_open,
            'justify-center': !sidebar_open,
            'justify-start': sidebar_open,
          }"
          pTooltip="Inicio"
        >
          <i class="ti ti-layout-dashboard"></i>
          <p *ngIf="sidebar_open" class="font-normal">Inicio</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/estudiantes"
          [attr.data-active]="current_url.startsWith('/admin/estudiantes')"
          class="nav__link | size-11  | font-bold"
          pTooltip="Estudiantes"
          [class]="{
            'w-full': sidebar_open,
            'p-5': sidebar_open,
            'justify-center': !sidebar_open,
            'justify-start': sidebar_open,
          }"
        >
          <i class="pi pi-users"></i>
          <p *ngIf="sidebar_open" class="font-normal">Estudiantes</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/empleados"
          [attr.data-active]="current_url.startsWith('/admin/empleados')"
          class="nav__link | size-11  | font-bold"
          pTooltip="Empleados"
          [class]="{
            'w-full': sidebar_open,
            'p-5': sidebar_open,
            'justify-center': !sidebar_open,
            'justify-start': sidebar_open,
          }"
        >
          <i class="pi pi-id-card"></i>
          <p *ngIf="sidebar_open" class="font-normal">Empleados</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/niveles_academicos"
          [attr.data-active]="
            current_url.startsWith('/admin/niveles_academicos')
          "
          class="nav__link | size-11  | font-bold"
          pTooltip="Niveles académicos"
          [class]="{
            'w-full': sidebar_open,
            'p-5': sidebar_open,
            'justify-center': !sidebar_open,
            'justify-start': sidebar_open,
          }"
        >
          <i class="pi pi-check-circle"></i>
          <p *ngIf="sidebar_open" class="font-normal">Niveles académicos</p>
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/espacios_academicos"
          [attr.data-active]="
            current_url.startsWith('/admin/espacios_academicos')
          "
          class="nav__link | size-11  | font-bold"
          pTooltip="Espacios académicos"
          [class]="{
            'w-full': sidebar_open,
            'p-5': sidebar_open,
            'justify-center': !sidebar_open,
            'justify-start': sidebar_open,
          }"
        >
          <i class="pi pi-box"></i>
          <p *ngIf="sidebar_open" class="font-normal">Espacios académicos</p>
        </a>
      </li>
<!-- 
      <li>
        <a
          routerLink="/admin/recursos"
          [attr.data-active]="current_url.startsWith('/admin/recursos')"
          class="nav__link | size-11  | font-bold"
          pTooltip="Recursos"
        >
          <i class="pi pi-database"></i>
        </a>
      </li> -->
    </ul>

    <div class="nav__acctions">
      <a
          routerLink="/admin/configuracion"
          [attr.data-active]="current_url.startsWith('/admin/configuracion')"
          class="nav__link | size-11  | font-bold"
          pTooltip="Configuración"
          [class]="{
            'w-full': sidebar_open,
            'p-5': sidebar_open,
            'justify-center': !sidebar_open,
            'justify-start': sidebar_open,
          }"
        >
          <i class="pi pi-cog"></i>
          <p *ngIf="sidebar_open" class="font-normal">Configuración</p>
        </a>
      <p-button [icon]="'ti ti-layout-sidebar-'+(sidebar_open? 'right':'left')+'-expand'" [rounded]="true" [text]="true" severity="secondary" (click)="sidebar_open = !sidebar_open" />
    </div>



  </nav>

  <main class="main" #main>
    <!-- <p-scrollpanel styleClass="w-full h-full pr-4"> -->
    <router-outlet></router-outlet>
    <!-- </p-scrollpanel> -->
     <footer class="flex p-4 mt-5">
      <p class="uppercase text-red-500 font-semibold m-auto">
        Atento: Esta es una versión en desarrollo del sistema, <a class="underline text-blue-500" href="mailto:sanaruca@gmail.com?subject=Sistema%20Sanz">informe sobre cualquier problema encontrado</a>
      </p>
     </footer>
  </main>
</section>
