<p-dialog header="Generar Listados" [modal]="true" [(visible)]="visible" [draggable]="false" [style]="{ width: '25rem' }">
    <form [formGroup]="form">
        <ng-container>

            <h6>¿Qué tipo de listados necesitas?</h6>
            <ul class="mt-5 grid gap-3">
                <li>
                    <label class="selectable">
                        <input type="radio" name="tipo_de_listado" value="por_seccion">
                        <div class="selectable__icon"></div>
                        <div>
                            <p class="selectable__title">Por sección académica</p>
                            <p class="selectable__subtitle">Listado de estudiantes por <span class="font-semibold">sección académica</span></p>
                        </div>
                    </label>
                </li>
                <li>
                <label class="selectable">
                    <input type="radio" name="tipo_de_listado" value="por_nivel">
                    <div class="selectable__icon"></div>
                    <div>
                        <p class="selectable__title">Por nivel académico</p>
                        <p class="selectable__subtitle">Listado de estudiantes por <span class="font-semibold">nivel académico</span></p>
                    </div>
                </label>
            </li>
        </ul>
        <div class="flex justify-end gap-2 mt-5">
            <button pButton >Siguiente</button>
        </div>
    </ng-container>
    
    <ng-container>
        <h6>¿Qué niveles deseas incluir?</h6>
        <ul class="mt-5">

        </ul>
    </ng-container>
    </form>
</p-dialog>