<p-toast></p-toast>
@if (verificando_informacion) {
  <p>Verificando informacion</p>
} @else {
  <div class="flex gap-5 h-screen">
    <img
      class="hidden xl:block bg-blue-400 min-w-96 object-cover flex-2 h-full"
      src="https://images.pexels.com/photos/40465/pexels-photo-40465.jpeg"
    />

    <section class="grid place-items-center flex-3">
      <p-card class="p-5 pt-10" [style]="{ 'max-width': '30rem' }">
        <ng-template #header>
          <svg
            class="m-auto w-11 h-full fill-primary dark:fill-primary-600 hidden md:block"
            width="36"
            height="40"
            viewBox="0 0 36 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 15V31H5C5.52527 31 6.04541 31.1035 6.53076 31.3045C7.01599 31.5055 7.45703 31.8001 7.82837 32.1716C8.19983 32.543 8.49451 32.984 8.69556 33.4693C8.89648 33.9546 9 34.4747 9 35V40H21L36 25V9H31C30.4747 9 29.9546 8.89655 29.4692 8.69553C28.984 8.49451 28.543 8.19986 28.1716 7.82843C27.8002 7.457 27.5055 7.01602 27.3044 6.53073C27.1035 6.04544 27 5.5253 27 5V0H15L0 15ZM17 30H10V19L19 10H26V21L17 30Z"
              fill="#0004E8-"
            ></path>
          </svg>
          <div class="space-y-1 p-4 text-center">
            <h2 class="text-2xl font-bold">Recuperar contraseña</h2>
          </div>
        </ng-template>
        <form [formGroup]="cambiar_clave_form" (submit)="cambiar_clave()">
          <div class="form_input" data-required>
            <label for="clave">Nueva clave</label>
            <input
              id="clave"
              formControlName="clave"
              pInputText
              type="password"
            />
            <small class="text-red-500">{{
              cambiar_clave_form.get('clave')?.errors | json
            }}</small>
          </div>
          <div class="form_input" data-required>
            <label for="confirmar_clave">Confirmar clave</label>
            <input
              id="confirmar_clave"
              formControlName="confirmar_clave"
              pInputText
              type="password"
            />
            <small class="text-red-500">{{
              cambiar_clave_form.get('confirmar_clave')?.errors | json
            }}</small>
          </div>
          <p-button
            styleClass="mt-5"
            type="submit"
            [disabled]="cambiar_clave_form.invalid"
            label="Cambiar clave"
            [loading]="loadings.cambiando_clave"
          ></p-button>
        </form>
      </p-card>
    </section>
  </div>
}
